<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
<link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Inter:wght@400;500;600&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">


</head>
<body>
    
    <div class="header">
        <img src="C:\Users\USER\Documents\해커톤\img\로고 PNG.png" alt="" width="120px" height="40px" class="Logo">    
        <div class="nav">
            <a class="nav-item" href="#">키오스크 사용</a>
            <a class="nav-item" href="#">휴대폰 결제</a>
            <a class="nav-item" href="#">휴대폰 설정</a>
            <a class="nav-item" href="#">메신저 보내기</a>
        </div>  

        </div>
    </div>
    <div class="carousel">
        <img src="C:\Users\USER\Documents\해커톤\img\키오스크.jpg" alt="이미지1">
        <img src="image2.jpg" alt="이미지2">
        <img src="image3.jpg" alt="이미지3">
    </div>
   
</body>
<script src="js.js"></script>
</html>
